
@{
    ViewBag.Title = "Index";
    ViewBag.Progress = 1;
}

<style>
    .glyphicon-refresh{
        display:none;
    }

    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @@-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }

        to {
            transform: scale(1) rotate(360deg);
        }
    }

</style>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<h2>Index</h2>

<hr />
@Html.ValidationSummary()

@using (Html.BeginForm("UploadExcel", "Stiftelses", FormMethod.Post, new { enctype = "multipart/form-data", id="myform", onsubmit = "return myFunction()" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-2">Download Format:</div>
            <div class="col-md-10">
                <a href="/User/DownloadExcel/"><img src="~/Images/Excel.ico" width="25" height="25" title="Download Excel format" alt="excel" /></a>
            </div>
        </div>


        <div class="form-group">

            <div class="control-label col-md-2">Excel:</div>
            <div class="col-md-10">
                <input type="file" id="FileUpload" name="FileUpload" class="" /> <div id="loader" style="align-items: center; display:none"><div class="lds-ring" style=""><div></div><div></div><div></div><div></div></div> <span>Please wait while worksheet is processed...</span></div>
                @if (ViewBag.ErrorMsg != null)
                {
                    <br />
                    <p style="color:red">@ViewBag.ErrorMsg</p>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                 <button class="btn btn-default" id="Upload" type="submit"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><span id="btn-tag">Upload</span></button>
            </div>
        </div>
    </div>
}


@if(ViewBag.Successes != null)
{
    <h3 style="color:forestgreen">Success!</h3>
    <h4>Transfer to database complete with:</h4>
    <p>@ViewBag.Successes entries added</p>
    if(ViewBag.Failures != null && ViewBag.Failures > 0)
    {
        <p>@ViewBag.Failures entries discarded</p>
    }
}
<script>

    $("form").submit(function () {
        
        $("#btn-tag").html(" Loading...");
        $(".glyphicon-refresh").css("display", "inline-block");
    });

    function myFunction() {
        $("#loader").css("display", "flex");
    }

</script>