

@{
    ViewBag.Title = "Join";
}

<h3>Registrera dig för att få tillgång till mera information, helt gratis utan kostnad!</h3>



<p>@Html.ActionLink("Bli medlem!", "RegisterPrivate", "Account")</p>