@{
    ViewBag.Title = "Återställningslänk skickad";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Kontrollera din e-postadress för att återställa ditt lösenord
    </p>
</div>
	
